@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background: url(../img/fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(130, 81, 6);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;   
}

header .navbar ul li a{
    font-size: 16px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover{
    background: #333;
    color: #ffffff;
}

#menu{
    height: 79vh;
    margin-top: 95px;
    display: flex;
    z-index: 1;
    justify-content: center;
}

#menu a div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu a #bio{
    width: 300px;
    height: 75vh;
    background-image: url(../img/fondoBio.jpg);
}

#menu a div p{
    background-color: black;
    color: white;
}

#menu a:hover #bio{
    transform: scale(1.1);
}

#espacio{
    width: 100px;
}

#menu a #pasat{
    width: 300px;
    height: 75vh;
    background-image: url(../img/FondoPasatiempos.jpg);
}

#menu a:hover #pasat{
    transform: scale(1.1);
}

footer{
    background-color: rgb(130, 81, 6);
    width: 100%;
    text-align: center;
    z-index: 1;
    align-self: self-end;
}

footer ul li{
    display: inline;
}

footer ul li a{
    color: #FFF;
    border: 2px solid rgb(44, 123, 7);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #018a1d;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

footer ul li a:hover{
    box-shadow: inset 0 0 0 50px #117302;
}

#fondo{
    text-align: center;
    margin-top: 5.2%;
    padding: 1% 0 2% 0;
    width: 80%;
    height: 100%;
    background-color: burlywood;
}

#imgFisica{
    display: flex;
}

#imgFisica img{
    width: 20%;
}

.acordeon ul{
    list-style: none;
}

#bio{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
}

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 400%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 100%;
      height: 100%;
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
  }

input{
	display: none;
}

img{
	width: 100%;
	height: 100%;
}

.book{
    margin-top: 6%;
	display: flex;
}

#cover{
	width: 375px;
	height: 600px;
}

.flip-book{
	width: 375px;
	height: 600px;
	position: relative;
	perspective: 1500px;
}

.flip{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: .5s;
	color: #000;
}

ul{
    list-style: decimal;
    padding-left: 10px;
}

h2{
    padding: 10px;
}

.front{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: burlywood;
	box-sizing: border-box;
	padding: 0 13px;
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
}

.back{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: burlywood;
}

.next-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #000;
}

.back-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #fff;
}

#p1{
	z-index: 8;
}

#p2{
	z-index: 7;
}

#p3{
	z-index: 6;
}

#p4{
    z-index: 5;
}

#p5{
    z-index: 4;
}

#p6{
    z-index: 3;
}

#p7{
    z-index: 2;
}

#p8{
    z-index: 1;
}

#c1:checked ~ .flip-book #p1{
	transform: rotateY(-180deg);
	z-index: 1;
}

#c2:checked ~ .flip-book #p2{
	transform: rotateY(-180deg);
	z-index: 2;
}

#c3:checked ~ .flip-book #p3{
	transform: rotateY(-180deg);
	z-index: 3;
}

#c4:checked ~ .flip-book #p4{
	transform: rotateY(-180deg);
	z-index: 4;
}

#c5:checked ~ .flip-book #p5{
	transform: rotateY(-180deg);
	z-index: 5;
}

#c6:checked ~ .flip-book #p6{
	transform: rotateY(-180deg);
	z-index: 6;
}

#c7:checked ~ .flip-book #p7{
	transform: rotateY(-180deg);
	z-index: 7;
}

#c8:checked ~ .flip-book #p8{
	transform: rotateY(-180deg);
	z-index: 8;
}

.contenedor-acordeon{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
}
.contenedor-acordeon h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}
.acordeon{
    background: rgb(123, 95, 53);
}
.acordeon label{
    display: block;
    padding: 20px;
    font-size: 20px;
    background: rgb(210, 140, 35);
    color: #fff;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}
.acordeon label:hover{
    background: rgb(225, 167, 96);
}
.acordeon .contenido-acordeon{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}
.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 600px;
    padding: 15px 0px;
}
.btn-acordeon{
    display: none;
}

